@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

/*
  START RESET CSS
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
#root,
#__next {
    isolation: isolate;
}

/*
  END RESET CSS
*/

:root{
    --color-primary-purple: hsl(259, 100%, 65%);
    --color-primary-lightred: hsl(0, 100%, 67%);
    --color-white: hsl(0, 0%, 100%);
    --color-off-white: hsl(0, 0%, 94%);
    --color-light-grey: hsl(0, 0%, 86%);
    --color-smokey-grey: hsl(0, 1%, 44%);
    --color-off-black: hsl(0, 0%, 8%);

    --font-default: 'Poppins', sans-serif;
    --fw-regular-italic: 400;
    --fw-bold: 700;
    --fw-extra-bold-italic: 800;
}


body{
    display: grid;
    place-items: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
    font-family: var(--font-default);
    /* font-weight: var(--fw-bold); */
    font-size: 1rem;
    color: var(--color-smokey-grey);

    background-color: var(--color-off-white);
}

main{
    font-size: 100%;
}

.age-calculatorapp{
    display: grid;
    background-color: var(--color-white);
    border-radius: 1.5rem 1.5rem 12.55em 1.5rem;
    padding: 3em;
    gap: 1rem;
    margin: 2em;
    max-width: 52.5rem;
    max-height: 40.8rem;
}

@media screen and (max-width: 850px){
    .age-calculatorapp{
        font-size: 1.8vw;
    }
}

.date-form{
    display: flex;
    gap: 2em;
    width: 50%;
    font-size: 90%;
}

.date-form__day, 
.date-form__month, 
.date-form__year{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.date-form__day input, 
.date-form__month input, 
.date-form__year input{
    border-radius: 0.5rem;
    border: 1px solid var(--color-light-grey);
    padding: 0.4em 0.7em;
    width: 5em;
    font-size: 2em;
}

.date-form.error{
    color: var(--color-primary-lightred);
    border-color: var(--color-primary-lightred);
}

input.error{
    color: var(--color-primary-lightred);
    border-color: var(--color-primary-lightred);
}

.label-error{
    font-style: italic;
    font-weight: var(--fw-regular-italic);
    color: var(--color-primary-lightred);
    font-size: 0.85em;
    letter-spacing: 0;
    text-transform: none;
}


.submit-container{
    position: relative;
    display: grid;
    place-items: center;
    margin-top: -1rem;
}

.horizontal-line{
    border-top: 1px solid var(--color-light-grey);
    width: 43em;

    margin: 3em auto;
}

.submit-button{
    position: absolute;
    display: grid;
    place-items: center;
    cursor: pointer;
    padding: 1.3em;
    right: 0em;
    bottom: 0em;

    border-radius: 50%;

    width: 5.5em;
    height: 5.5em;

    background-color: var(--color-primary-purple);
}

.submit-button:hover{
    background-color: var(--color-off-black);
}

.results{
    /* margin-top: 2rem; */
    font-size: 6em;
    line-height: 1;
    font-weight: var(--fw-extra-bold-italic);
    font-style: italic;
    color: var(--color-off-black);
}

.results span{
    color: var(--color-primary-purple);
}

@media screen and (max-width: 700px){
    .age-calculatorapp{
        font-size: 2.6vw;
    }

    .horizontal-line{
        width: 100%;
    }

    .submit-button{
        right: 40%;
        bottom: 0em;
    }

    .results{
        font-size: 5.5em;
    }

    .age-calculatorapp{
        padding: 4em 2em;
    }
}